<%if(yonetim == 1) {%>
<%-body%>
<%} else {%>
<html lang="tr">

<head>
    <title><%-kurumAdi%></title>
    <meta name="title" content="İstanbul Saç Ekim Merkezi">
    <meta name="description"
        content="14 yıldır 20 farklı şehirde ve bir çok ülkede saç ekimi ve estetik alanlarında hizmetinizdeyiz. DHI saç ekimi, safir fue, buz fue ve daha bir çok son teknoloji teknikler ile saç ekim işleminizi gerçekleştirebilirsiniz. ">
    <meta name="publisher" content="İstanbul Hair Aesthetic v1.0" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta http-equiv="Content-Language" content="tr,en,es,fr,de,it,ar,pt,ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Engin KANMAZ">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/font-icons/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400"
        rel="stylesheet">
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="İstanbul Saç Ekim Merkezi">
    <meta name="twitter:url" content="http://istanbulhairaesthetic.com/#section-about" />
    <meta name="twitter:description"
        content="14 yıldır 20 farklı şehirde ve bir çok ülkede saç ekimi ve estetik alanlarında hizmetinizdeyiz.">
    <meta name="twitter:image:src" content="http://istanbulhairaesthetic.com/public/images/htModel.jpg">
    <!-- Social: Facebook -->
    <meta property="og:title" content="Sİstanbul Saç Ekim Merkezi">
    <meta property="og:description" content="14 yıldır 20 farklı şehirde ve bir çok ülkede saç ekimi ve estetik alanlarında hizmetinizdeyiz.">
    <meta property="og:url" content="http://istanbulhairaesthetic.com/">
    <meta property="og:image" content="http://istanbulhairaesthetic.com/public/images/doctor.jpeg" />

    <link rel="stylesheet" href="/public/css/bootstrap4.0/bootstrap.css">
    <link rel="stylesheet" href="/public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    <link rel="stylesheet" href="/public/css/css/ionicons.min.css">
    <link rel="stylesheet" href="/public/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="/public/css/jquery.steps.css">
    <link rel="stylesheet" href="/public/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="/public/js/select2/select2.css">
    <link rel="stylesheet" href="/public/css/intlTelInput.min.css">
    <link rel="stylesheet" href="/public/css/quill.snow.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css'>
    <link rel="stylesheet" href="/public/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="/public/css/slick/slick.css">
    <link rel="stylesheet" href="/public/css/slick/slick-theme.css">

    <link rel="stylesheet" href="/public/css/helpers.css">
    <link rel="stylesheet" href="/public/css/nlw/style.css">

    <style>
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 10px;
            left: 10px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #6B6E71;
            z-index: 100;
        }

        .my-float {
            margin-top: 16px;
        }
    </style>
</head>

<body>
    <%-body%>
</body>

</html>
<%}%> 